.btn-container {
    width: 100%;
    max-width: 18.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    text-decoration: none;
    font-size: var(--btn-fs);
    line-height: var(--btn-fh);
    border: none;
    background: none;

    font-family: var(--font-primary);
    cursor: pointer;
}

.btn-transparent {
    color: var(--btn-secondary-text-color);
    border: 1px solid var(--btn-primary-color);
    transition: background .25s;
}

.btn-transparent:hover {
    background: var(--btn-secondary-hover-color);
}

.btn-blue {
    color: var(--btn-primary-text-color);
    border: 1px solid var(--btn-primary-color);
    background: var(--btn-primary-color);
    transition: background .25s;
}

.btn-blue:hover {
    background: var(--btn-primary-hover-color);
}